<!DOCTYPE html>
<html>
    <head>
        <title>Build A Blog</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
        <nav>
            <a href='/index'>All Users</a> |
            <a href='/blog'> All Blogs </a> |
            <a href='/newpost'> Add new blog</a> |
            <a href='/login'>Log In</a> |
            <a href='/logout'>Log Out</a>
        </nav>

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
              
                <li><span class="error">{{ message }}</span></li> 
             
            {% endfor %}
            </ul>
        {% endwith %}

    {% block content %}
    
    {% endblock %}

</body>
</html>